<!DOCTYPE html>
<html>
    <head>
       
    </head>
    <body>
        <div style="text-align: center;">
        <h1 >{{title}}</h1>
       <form>
           <input type="text" placeholder="Location">
           <button>Search</button>

       </form>

        <p id="WeatherInfoId">Weather Info....</p>        


    </div>



     <script  src="/js/client.js"></script>
    </body>
</html>